{% extends 'base.html.twig' %}

{% block title %}Chapter index{% endblock %}

{% block body %}
    <h1>Chapter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.title }}</td>
                <td>{{ chapter.description }}</td>
                <td>
                    <a href="{{ path('chapter_show', {'id': chapter.id}) }}">show</a>
                    <a href="{{ path('chapter_edit', {'id': chapter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chapter_new') }}">Create new</a>
{% endblock %}
