{% extends 'base.html.twig' %}

{% block title %}{{ 'Log in'|trans }}!{% endblock %}
{% block pageTitle %}{{ 'Please sign in'|trans }}{% endblock %}

{% block body %}
<form method="post">
    <div class="card card-custom">
        <div class="card-body">
            <div class="tab-content">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'You are logged in as'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </div>
                {% endif %}

                <label for="inputUsername">{{ 'Username'|trans }}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">{{ 'Password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg btn-primary" type="submit">
                    {{ 'Sign in'|trans }}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
