{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mr-2">{{ label }}</button>
    <a href="{{ path('character_list', {'project': project.id}) }}" class="btn btn-secondary">{{ 'Cancel'|trans }}</a>
{{ form_end(form) }}
