{% extends 'project_base.html.twig' %}

{% block title %}Character list{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table card-table">
        <thead>
        <tr>
            <th>ShortName</th>
            <th>FullName</th>
            <th>Alternates</th>
            <th>Role</th>
            <th>Goals</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.shortName }}</td>
                <td>{{ character.fullName }}</td>
                <td>{{ character.alternates }}</td>
                <td>{{ constant('App\\Entity\\Character::ROLE_LABELS')[character.role] }}</td>
                <td>
                    <div class="hidden-overflow" style="max-width: 100px;">
                        {{ character.goals }}
                    </div>
                </td>
                <td>
                    <a href="{{ path('character_edit', {'character': character.id, 'project': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="6"><a href="{{ path('character_new', {'project': project.id}) }}"><i class="fas fa-plus-circle"></i></a></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
