{% extends 'base.html.twig' %}

{% set label = 'Create'|trans %}
{% if new is not defined or new != true %}
    {% set label = 'Update'|trans %}
{% endif %}
{% block title %}{{ label }} Location{% endblock %}
{% block pageTitle %}{{ label }} {{ location.title ? 'location' }}{% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-body">
            <div class="tab-content">
                {{ include('location/_form.html.twig', {'button_label': label}) }}
                {{ include('location/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
