{% extends 'project_base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Scenes'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.title }}</td>
                <td>{{ location.scenes|length }}</td>
                <td>{{ location.description }}</td>
                <td>
                    <a href="{{ path('location_edit', {'location': location.id, 'project': project.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><a href="{{ path('location_new', {'project': project.id}) }}"><i class="fas fa-plus-circle"></i></a></td>
        </tr>
        </tbody>
    </table>

</div>


{% endblock %}
