<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body style="background-image: url(/assets/img/w2l_bg.png)">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('project_index') }}">Writer2l</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% if app.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">{{ app.request.locale }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route')|default('app_login'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'en'})) }}">en</a>
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route')|default('app_login'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'lv'})) }}">lv</a>
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route')|default('app_login'), app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'ru'})) }}">ru</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main">
            <div class="container-fluid">
                <div class="row subheader">
                    <div class="col-md-12">
                        <h1>{% block pageTitle %}{{ 'Welcome!'|trans }}{% endblock %}</h1>
                        <div class="d-flex align-items-center font-weight-bold my-2">
                            {% if chapter is defined and chapter is not null %}
                                {% set project = chapter.project %}
                            {% endif %}
                            {% if scene is defined and scene is not null %}
                                {% set chapter = scene.chapter %}
                                {% set project = chapter.project %}
                            {% endif %}
                            {% if sceneRevision is defined and sceneRevision is not null %}
                                {% set scene = sceneRevision.scene %}
                                {% set chapter = scene.chapter %}
                                {% set project = chapter.project %}
                            {% endif %}

                            {% if (project is defined and project is not null and project.id is not null) or form is defined %}
                                <a href="{{ path('project_index') }}" class="opacity-75 hover-opacity-100">
                                    <i class="fas fa-home text-white"></i>
                                </a>
                            {% endif %}
                            {% if project is defined and project is not null and project.id is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('project_show', {'project': project.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100"><i class="fas fa-book-open"></i> {{ project.title }}</a>
                            {% endif %}
                            {% if chapter is defined and chapter is not null and chapter.id is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('project_show_chapter', {'project': project.id, 'chapter': chapter.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100"><i class="fas fa-book"></i> {{ chapter.title ?: '[chapter with no title]' }}</a>
                            {% endif %}
                            {% if scene is defined and scene is not null and scene.id is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('scene_show', {'project': project.id, 'chapter': chapter.id, 'scene': scene.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100"><i class="fas fa-file"></i> {{ scene.title ?: '[scene with no title]' }}</a>
                            {% endif %}
                            {% if sceneRevisions is defined and sceneRevisions is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('scene_revision_index', {'project': project.id, 'chapter': chapter.id, 'scene': scene.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100"><i class="fas fa-history"></i></a>
                            {% endif %}
                            {% if sceneRevision is defined and sceneRevision is not null and sceneRevision.id is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('scene_revision_index', {'project': project.id, 'chapter': chapter.id, 'scene': scene.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100"><i class="fas fa-history"></i></a>
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <a href="{{ path('scene_show', {'project': project.id, 'chapter': chapter.id, 'scene': scene.id}) }}" class="text-white text-hover-white opacity-75 hover-opacity-100">{{ sceneRevision.version | date('H:i:s d.m.Y') }}</a>
                            {% endif %}
                            {% if form is defined and form is not null %}
                                <span class="text-white label label-dot label-sm opacity-75 mx-3"><i class="fas fa-caret-right"></i></span>
                                <div class="text-white text-hover-white opacity-75"><i class="fas fa-edit"></i> {% if new is defined and new %}{{ 'New'|trans }}{% elseif import is defined and import %}{{ 'Import'|trans }}{% else %}{{ 'Edit'|trans }}{% endif %}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block body %}{% endblock %}
            </div>
            <div class="gutter-b">
            </div>
        </main>
        <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
            <div class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted font-weight-bold mr-2">2020©</span>
                    <a href="//app.writer2l.com" target="_blank" class="text-dark-75 text-hover-primary">Writer2l</a>
                </div>
                <div class="nav nav-dark order-1 order-md-2">
                    <a href="//writer2l.com" target="_blank" class="nav-link pr-3 pl-0">writer2l.com</a>
                    <a href="//github.com/aleksejs1/writer2l" target="_blank" class="nav-link px-3">Github</a>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
