{% extends 'base.html.twig' %}

{% block pageTitle %}{{ project.title }} ({{ 'by'|trans }}{{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 md-3">
            <div class="card card-custom">
                <div class="card-header card-header-tabs-line">
                    <div class="card-title">
                        <h3 class="card-label">{{ 'Chapters'|trans }}</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="toggle-sort"><i class="fas fa-sort"></i></div>
                    </div>
                </div>
                <div class="card-body">
                    {% for chapterInList in project.chapters %}
                        <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                            <div class="navi-item mb-2">
                                <a class="sort-up sort-buttons" href="{{ path('chapter_position', {'chapter': chapterInList.id, 'newPosition': chapterInList.position - 1, 'project': project.id}) }}"><i class="fas fa-chevron-up"></i></a>
                                <a class="sort-down sort-buttons" href="{{ path('chapter_position', {'chapter': chapterInList.id, 'newPosition': chapterInList.position + 1, 'project': project.id}) }}"><i class="fas fa-chevron-down"></i></a>
                                <a href="{{ path('project_show_chapter', {'project': project.id, 'chapter': chapterInList.id}) }}" class="navi-link sortable-menu {% if chapter is defined and chapter is not null and chapter.id == chapterInList.id %}active{% endif %} hidden-overflow" title="{{ chapterInList.title }}">
                                    <span class="nav-icon"><i class="fas fa-book"></i></span>
                                    <span class="navi-text font-size-lg">
                                        {{ chapterInList.title }}
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="{{ path('chapter_new', {"project": project.id}) }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            {% if chapter is defined and chapter is not null %}
                <div class="gutter-b">
                </div>
                <div class="card card-custom">
                    <div class="card-header card-header-tabs-line">
                        <div class="card-title">
                            <h3 class="card-label">{{ 'Chapter description'|trans }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for part in chapter.description | split('\n') %}
                            <p>{{ part }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="card card-custom">
                <div class="card-header card-header-tabs-line">
                    <div class="card-toolbar">
                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                            <li class="nav-item">
                                {% if chapter is defined and chapter is not null %}
                                <a class="nav-link" href="{{ path('scene_new', {'project': project.id, 'chapter': chapter.id}) }}">
                                    <span class="nav-icon"></i><i class="fas fa-plus-circle"></i></i></span>
                                    <span class="nav-text">{{ 'Add scenes'|trans }}</span>
                                </a>
                                {% else %}
                                    <a class="nav-link disabledg" title="First select chapter!">
                                        <span class="nav-icon"></i><i class="fas fa-plus-circle"></i></i></span>
                                        <span class="nav-text" title="Select chapter">{{ 'Add scenes'|trans }}</span>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'character_list' %}active{% endif %}" href="{{ path('character_list', {'project': project.id}) }}">
                                    <span class="nav-icon"><i class="fas fa-users"></i></span>
                                    <span class="nav-text">{{ 'Characters'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'location_list' %}active{% endif %}" href="{{ path('location_list', {'project': project.id}) }}">
                                    <span class="nav-icon"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="nav-text">{{ 'Locations'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'item_list' %}active{% endif %}" href="{{ path('item_list', {'project': project.id}) }}">
                                    <span class="nav-icon"><i class="fas fa-box"></i></span>
                                    <span class="nav-text">{{ 'Items'|trans }}</span>
                                </a>
                            </li>
                            {% if chapter is defined and chapter is not null %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('chapter_edit', {'chapter': chapter.id, 'project': project.id}) }}">
                                        <span class="nav-icon"><i class="fas fa-edit"></i></span>
                                        <span class="nav-text">{{ 'Edit chapter'|trans }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('project_preview', {'project': project.id}) }}" target="_blank">
                                    <span class="nav-icon"><i class="far fa-eye"></i></span>
                                    <span class="nav-text">{{ 'Preview'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            {% block after_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
