{% extends 'base.html.twig' %}

{% block title %}{{ 'Character list'|trans }}{% endblock %}
{% block pageTitle %}{{ project.title }} ({{ 'by'|trans }} {{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('scene_show', {"project": scene.chapter.project.id, "chapter": scene.chapter.id, 'scene': scene.id}) }}">
                            <span class="nav-icon"><i class="fas fa-arrow-circle-left"></i></span>
                            <span class="nav-text">{{ 'Back'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-6 md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'Short Name'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for character in charactersIn %}
                                <tr>
                                    <td><a class="btn btn-primary" href="?remove={{ character.id }}">-</a> {{ character.shortName }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'no records found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ 'Short Name'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for character in charactersOut %}
                                <tr>
                                    <td><a class="btn btn-primary" href="?add={{ character.id }}">+</a> {{ character.shortName }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'no records found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
