{% extends 'base.html.twig' %}

{% block title %}Location list{% endblock %}
{% block pageTitle %}{{ project.title }} (by {{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('scene_show', {"project": scene.chapter.project.id, "chapter": scene.chapter.id, 'scene': scene.id}) }}">
                            <span class="nav-icon"><i class="fas fa-arrow-circle-left"></i></span>
                            <span class="nav-text">Back</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-6 md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locationsIn %}
                                <tr>
                                    <td><a class="btn btn-primary" href="?remove={{ location.id }}">-</a> {{ location.title }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locationsOut %}
                                <tr>
                                    <td><a class="btn btn-primary" href="?add={{ location.id }}">+</a> {{ location.title }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
