{% extends 'base.html.twig' %}

{% block title %}Scene{% endblock %}

{% block body %}
    <h1>Scene</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scene.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ scene.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ scene.content }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ scene.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scene_index') }}">back to list</a>

    <a href="{{ path('scene_edit', {'id': scene.id}) }}">edit</a>

    {{ include('scene/_delete_form.html.twig') }}
{% endblock %}
