{% extends 'base.html.twig' %}

{% set label = 'Create'|trans %}
{% if new is not defined or new != true %}
    {% set label = 'Update'|trans %}
{% endif %}
{% block title %}{{ label }} Item{% endblock %}
{% block pageTitle %}{{ label }} {{ item.title ? 'item'|trans }}{% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-body">
            <div class="tab-content">
                {{ include('item/_form.html.twig', {'button_label': label}) }}
                {{ include('item/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
