{% extends 'project_base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Aka</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.aka }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <a href="{{ path('item_edit', {'item': item.id, 'project': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><a href="{{ path('item_new', {'project': project.id}) }}"><i class="fas fa-plus-circle"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
