<h1>{{ project.title }}</h1>
<i>{{ 'by'|trans }} {{ project.authorsName }}</i>
{% for chapter in project.chapters %}
    <h2>{{ chapter.title }}</h2>
    {% for scene in chapter.scenes %}
        {% if scene.title %}<h3>{{ scene.title }}</h3>{% endif %}
        {{ scene.content|striptags('<br><p><i><b><u>')|raw }}
    {% endfor %}
{% endfor %}
