{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block pageTitle %}Project index{% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-body">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12 md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>AuthorsName</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{ project.id }}</td>
                                        <td><a href="{{ path('project_show', {'project': project.id}) }}">{{ project.title }}</a></td>
                                        <td>{{ project.authorsName }}</td>
                                        <td>
                                            <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4"><a href="{{ path('project_new') }}">Create new</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
