{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block pageTitle %}Project index{% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('project_new') }}">
                            <span class="nav-icon"></i><i class="fas fa-book-open"></i></span>
                            <span class="nav-text">Create new</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('import_ywriter') }}">
                            <span class="nav-icon"></i><i class="fas fa-file-import"></i></span>
                            <span class="nav-text">Import from yWrite 5 backup</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12 md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>AuthorsName</th>
                                    <th>Words</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td><a href="{{ path('project_show', {'project': project.id}) }}">{{ project.title }}</a></td>
                                        <td>{{ project.authorsName }}</td>
                                        <td>
                                            {% set words = 0 %}
                                            {% for chapter in project.chapters %}
                                                {% for scene in chapter.scenes %}
                                                    {% set words = words + scene.content|striptags()|split(' ')|length %}
                                                {% endfor %}
                                            {% endfor %}
                                            {{ words }}
                                        </td>
                                        <td>
                                            <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
