{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block pageTitle %}{{ project.title }} (by {{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-body">
            <div class="tab-content">
                <div class="container export">
                    <h1>{{ project.title }}</h1>
                    <i>by {{ project.authorsName }}</i>
                    {% for chapter in project.chapters %}
                        <h2>{{ chapter.title }}</h2>
                        {% for scene in chapter.scenes %}
                            {% if scene.title %}<h3>{{ scene.title }}</h3>{% endif %}
                            {% for part in scene.content | split('\n') %}
                                <p>{{ part }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
