{% extends 'base.html.twig' %}

{% block title %}{{ 'Preview'|trans }}{% endblock %}
{% block pageTitle %}{{ project.title }} ({{ 'by'|trans }} {{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('project_export', {'project': project.id}) }}">
                            <span class="nav-icon"></i><i class="fas fa-file-export"></i></span>
                            <span class="nav-text">{{ 'Export'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="container export">
                    {{ include('project/export.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
