{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="py-5 text-center">
        <h1>{{ project.title }} (by {{ project.authorsName }})</h1>
    </div>

    <div class="row">
        <div class="col-md-3 md-3">
            <a class="btn btn-light" href="{{ path('character_list', {'project': project.id}) }}">Characters</a>
            <a class="btn btn-light" href="{{ path('location_list', {'project': project.id}) }}">Locations</a>
            <a class="btn btn-light" href="{{ path('item_list', {'project': project.id}) }}">Items</a>
            <h3>Chapters</h3>
            {% for chapterInList in project.chapters %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('project_show_chapter', {'project': project.id, 'chapter': chapterInList.id}) }}" class="btn{% if chapter is defined and chapter is not null and chapter.id == chapterInList.id %} btn-dark{% endif %}">{{ chapterInList.title }}</a>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('chapter_new', {"project": project.id}) }}" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-md-9">
            {% if chapter is defined and chapter is not null %}
                <h3>Scenes</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Viewpoint</th>
                        <th>Words</th>
                        <th>Scene</th>
                        <th>Status</th>
                        <th>A/R</th>
                        <th>Real words</th>
                        <th>Letters</th>
                        <th>Characters</th>
                        <th>Locations</th>
                        <th>Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for scene in chapter.scenes %}
                        <tr>
                            <td>{{ scene.note ? 'N' : 'Sc' }}</td>
                            <td>{{ scene.viewpoint ? scene.viewpoint.shortName : 'N/A' }}</td>
                            <td>{{ scene.content|split(' ')|length }} words</td>
                            <td><a href="{{ path('scene_edit', {'project': scene.chapter.project.id, 'chapter': scene.chapter.id, 'scene': scene.id}) }}">{{ scene.title ?: '[No title]' }}</a></td>
                            <td>{{ constant('App\\Entity\\Scene::STATUS_TITLES')[scene.status] }}</td>
                            <td>{{ constant('App\\Entity\\Scene::GOAL_TITLES')[scene.goalType]|first }}</td>
                            <td>{{ scene.content|word_count }} real words</td>
                            <td>{{ scene.content|length }} letters</td>
                            <td>
                                <a href="{{ path('scene_characters', {'project': scene.chapter.project.id, 'chapter': scene.chapter.id, 'scene': scene.id}) }}">
                                    {% for character in scene.characters %}{{ character.shortname }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('scene_locations', {'project': scene.chapter.project.id, 'chapter': scene.chapter.id, 'scene': scene.id}) }}">
                                    {% for location in scene.locations %}{{ location.title }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('scene_items', {'project': scene.chapter.project.id, 'chapter': scene.chapter.id, 'scene': scene.id}) }}">
                                    {% for item in scene.items %}{{ item.title }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td colspan="9" class="text-center">
                                <a href="{{ path('scene_new', {'project': project.id, 'chapter': chapter.id}) }}">Create new</a>
                            </td>
                        </tr>
                    </tbody>
                </table>


            {% else %}
                <p>Select chapter</p>
            {% endif %}
        </div>
    </div>

    <div class="py-5 text-center">
        <a href="{{ path('project_index') }}">back to list</a>

        <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

        {{ include('project/_delete_form.html.twig') }}
    </div>
{% endblock %}
