{% extends 'project_base.html.twig' %}

{% block title %}{{ 'Project'|trans }}{% endblock %}

{% block pageTitle %}{{ project.title }} ({{ 'by'|trans }} {{ project.authorsName }}){% endblock %}

{% block content %}
    {% if chapter is defined and chapter is not null %}
    <div class="table-responsive">
        <table class="table card-table">
            <thead>
            <tr>
                <th class="sort-buttons"></th>
                <th></th>
                <th>{{ 'Scene'|trans }}</th>
                <th>{{ 'Stats'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th><span title="{{ 'Action'|trans }}/{{ 'Reaction'|trans }}">{{ 'A/R'|trans }}</span></th>
                <th>{{ 'Characters'|trans }}</th>
                <th>{{ 'Locations'|trans }}</th>
                <th>{{ 'Items'|trans }}</th>
                <th>{{ 'Revisions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for sceneInList in chapter.scenes %}
                <tr {% if scene is defined and scene.id == sceneInList.id %}class="table-primary"{% endif %}>
                    <td class="sort-buttons">
                        <a class="sort-buttons" href="{{ path('scene_position', {'scene': sceneInList.id, 'newPosition': sceneInList.position - 1, 'project': project.id, 'chapter': sceneInList.chapter.id}) }}"><i class="fas fa-chevron-up"></i></a>
                        <a class="sort-buttons" href="{{ path('scene_position', {'scene': sceneInList.id, 'newPosition': sceneInList.position + 1, 'project': project.id, 'chapter': sceneInList.chapter.id}) }}"><i class="fas fa-chevron-down"></i></a>
                    </td>
                    <td><a href="{{ path('scene_edit', {'chapter': chapter.id, 'project': project.id, 'scene': sceneInList.id}) }}" title="{{ 'Edit'|trans }}"><i class="fas fa-edit"></i></a> {% if sceneInList.note %}<span title="{{ 'Notes'|trans }}">{{ 'N'|trans }}</span>{% else %}<span title="{{ 'Scene'|trans }}">{{ 'Sc'|trans }}</span>{% endif %}</td>
                    <td>
                        <div class="hidden-overflow" style="max-width: 250px;">
                            <a href="{{ path('scene_show', {'project': sceneInList.chapter.project.id, 'chapter': sceneInList.chapter.id, 'scene': sceneInList.id}) }}" title="{{ sceneInList.title ?: '[No title]' }}">{{ sceneInList.title ?: '[No title]' }}</a>
                            <br>
                            {% if sceneInList.viewpoint %}
                                <span title="{{ 'Viewpoint'|trans }}">
                                {{ include('character/avatar.html.twig', {'char': sceneInList.viewpoint, 'size': 30}) }}
                                {{ sceneInList.viewpoint.shortName }}
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <span title="{{ 'Words'|trans }}">{{ 'W'|trans }}: {{ sceneInList.content|striptags()|split(' ')|length }}</span><br>
                        <span title="{{ 'Letters'|trans }}">{{ 'L'|trans }}: {{ sceneInList.content|striptags()|length }}</span>
                    </td>
                    <td>{{ constant('App\\Entity\\Scene::STATUS_TITLES')[sceneInList.status]|trans }}</td>
                    <td><span title="{{ constant('App\\Entity\\Scene::GOAL_TITLES')[sceneInList.goalType]|trans }}">{{ constant('App\\Entity\\Scene::GOAL_TITLES')[sceneInList.goalType]|first|trans }}</span></td>
                    <td>
                        <div class="hidden-overflow" style="max-width: 150px;">
                            <a href="{{ path('scene_characters', {'project': sceneInList.chapter.project.id, 'chapter': sceneInList.chapter.id, 'scene': sceneInList.id}) }}" title="{% for character in sceneInList.characters %}{{ character.shortname }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}">
                                {% for character in sceneInList.characters %}{{ character.shortname }}{% if not loop.last %}<br>{% endif %}{% else %}<i class="fas fa-plus"></i>{% endfor %}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="hidden-overflow" style="max-width: 150px;">
                            <a href="{{ path('scene_locations', {'project': sceneInList.chapter.project.id, 'chapter': sceneInList.chapter.id, 'scene': sceneInList.id}) }}" title="{% for location in sceneInList.locations %}{{ location.title }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}">
                                {% for location in sceneInList.locations %}{{ location.title }}{% if not loop.last %}<br>{% endif %}{% else %}<i class="fas fa-plus"></i>{% endfor %}
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="hidden-overflow" style="max-width: 150px;">
                            <a href="{{ path('scene_items', {'project': sceneInList.chapter.project.id, 'chapter': sceneInList.chapter.id, 'scene': sceneInList.id}) }}" title="{% for item in sceneInList.items %}{{ item.title }}{% if not loop.last %}, {% endif %}{% else %}+{% endfor %}">
                                {% for item in sceneInList.items %}{{ item.title }}{% if not loop.last %}<br>{% endif %}{% else %}<i class="fas fa-plus"></i>{% endfor %}
                            </a>
                        </div>
                    </td>
                    <td><a href="{{ path('scene_revision_index', {'project': project.id, 'scene': sceneInList.id}) }}"><i class="fas fa-history"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="9"><a href="{{ path('scene_new', {'project': project.id, 'chapter': chapter.id}) }}"><i class="fas fa-history"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    {% else %}
        <p>Select chapter</p>
    {% endif %}
{% endblock %}
