{% extends 'base.html.twig' %}

{% block title %}{{ sceneRevision.scene.title ? sceneRevision.scene.title : '[No title]' }} scene revisions{% endblock %}
{% block pageTitle %}{{ project.title }} (by {{ project.authorsName }}){% endblock %}

{% block body %}
    <div class="card card-custom">
        <div class="card-header card-header-tabs-line">
            <div class="card-title">
                <h3>{{ sceneRevision.version | date('H:i:s d.m.Y') }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <a class="btn btn-primary" href="{{ path('scene_revision_index', {'scene': sceneRevision.scene.id, 'project': project.id}) }}">Back</a>
                {{ sceneRevision.content|striptags('<br><p><i><b><u>')|raw }}
            </div>
        </div>
    </div>
{% endblock %}
